<!-- Hero Section-->
<section style="background-size: cover; background-position: center center" [ngStyle]="{'background-image': 'url(' + pag.x_img + ')'}" class="hero" *ngFor="let pag of dataPag">
  <div class="container">
    <div class="row" [ngStyle]="{'color':pag.x_letra}">
      <div class="col-lg-7" [ngStyle]="{'background-color':pag.x_fondo}" style="border-radius: 15px; padding: 25px 35px;">
        <h1>{{ pag.x_titulo }}</h1>
        <p>{{ pag.x_resumen }}</p>
        <a href="{{ pag.x_url }}" class="hero-link">Ver más</a>
      </div>
    </div>
  </div>
</section>

<section class="latest-posts"> 
  <div class="container">
    <div class="row">
      <div class="post col-md-4" *ngFor="let d of dataServMae">
        <div class="post-thumbnail"><a [routerLink]="d.x_url_mae"><img src="{{ d.x_img_mae }}" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
            <a [routerLink]="d.x_url_mae">
            <h3 class="h4">{{ d.x_titulo_mae }}</h3></a>
          <p class="text-muted">{{ d.x_descripcion_mae }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="featured-posts no-padding-top">
  <div class="container">
    <div class="row d-flex align-items-stretch" *ngFor="let d of dataUlPag">
      <div class="image col-lg-5" [hidden]="d.position != 'right'"><img src="{{ d.x_img }}" alt="..."></div>
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <!--<div class="category"><a href="#">Business</a><a href="#">Technology</a></div>-->
              <a [routerLink]="d.x_url">
                <h2 class="h4">{{ d.x_titulo }}</h2></a>
            </header>
            <p>{{ d.x_resumen }}</p>
            <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="assets/images/img/avatar-2.jpg" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{ d.x_nick }}</span></div></a>
              <div class="date"><i class="icon-clock-o"></i>{{ d.tiempo }}</div>
              <div class="comments"><i class="icon-thumbs-o-up"></i>{{ d.m_me_gusta }}</div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5" [hidden]="d.position != 'left'"><img src="{{ d.x_img }}" alt="..."></div>
    </div>
  </div>
</section>
<hr style="width: 95%; margin: auto;">
<section class="gallery no-padding">    
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6" *ngFor="let d of dataDes">
      <div class="item">
        <a href="{{ d.x_url }}" data-fancybox="gallery" class="image">
          <img src="{{ d.x_url }}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center">
            <i class="icon-search"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>