<section class="latest-posts"> 
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let d of dataOcio">
        <div class="post post-thumbnail">
          <a routerLink="{{ d.x_titulo }}">
            <img src="{{ d.x_url }}" alt="..." class="img-fluid" height="100px">
          </a>
        </div>
        <div class="post-details">
            <a routerLink="{{ d.x_titulo }}">
            <h3 class="h4">{{ d.x_titulo }}</h3></a>
          <p class="text-muted">{{ d.x_descripcion }}</p>
        </div>
      </div>
    </div>
  </div>
</section>