<section [ngStyle]="{'background-image': 'url(' + d.x_foto + ')'}" style="background-size: cover; background-position: center bottom" 
  class="divider" *ngFor="let d of dataSer">
  <div class="container">
    <div class="row">
      <div class="col-md-10" style="border-radius: 15px; padding: 25px 35px; background-color: hsla(0, 0%, 4%, .5);">
        <h2>{{ d.x_titulo }}</h2>
        <p>{{ d.x_descripcion }}</p>
      </div>
    </div>
  </div>
</section>
<br>
<section class="featured-posts no-padding-top">
    <div class="container" *ngFor="let d of dataSer">
      <!-- Post-->
      <div class="row d-flex align-items-stretch" *ngFor="let t of d.tipos">
        <div class="image col-lg-5" [hidden]="t.x_orientacion != 'rigth'" style="min-height: 298px;">
          <img src="{{ t.x_foto }}" alt="..." style="height: 320px;">
        </div>
        <div class="text col-lg-7">
          <div class="text-inner d-flex align-items-center">
            <div class="content">
              <header class="post-header">
                  <h2 class="h4">{{ t.x_titulo }}</h2>
              </header>
              <p>{{ t.x_descripcion }}</p>
            </div>
          </div>
        </div>
        <div class="image col-lg-5" [hidden]="t.x_orientacion != 'left'" style="min-height: 298px;">
          <img src="{{ t.x_foto }}" alt="..." style="height: 320px;">
        </div>
      </div>
    </div>
  </section>